
footer, aside, article {
display: block;
}


body{

	    background: url("../image/background.gif"); 
      width:80%;
      height:50%;
      margin:0% auto 0% auto;
      font:1em Georgia, serif;
}

.column1{
	float: left; 
  width: 50%;
  height: 10%; 
  margin:0% auto 10% auto;
  padding-right: 5%;
    
  }
  .column2{
  float:left; 
   width:30%; 
   height:50%;
   margin:10% auto 10% auto;
   
 }

 table{
  background: #f7f7f9;  /*changes color of the background of the table*/
  border-collapse: collapse;
  width: 30%;
  height: 10%;
  text-align: center;
  font: 1em  "Times New Roman", Times, serif;
  border: 1px solid #A67300;
  text-align: center;
}

th{
     border: 1px solid #A67300;
     text-align: center;
     width: 20%;
     padding-bottom: 0%;
 }
td{
    border: 1px solid #A67300;
    background-color: #dddddd;

 }

tr{
  display: inline-block;
  border-color: inherit;
  width: 100%;
}

footer{
	clear:both;
}